
/*body {
	font-family: sans-serif;
	line-height:1.5;
	background-color: aqua;
}
*/
<body>
		<style>
      .prim0{
        /* it is empty code
        because it is crutch*/
      }
          .prim1 {
      width: 600px;
      margin: 30px 50px;
      background-color: rgba(255,255,255,0.7);
      border: 3px solid black;
      font-weight: bold;
      text-align: center;
    }
           .prim2 {
      width: 600px;
      margin: 30px 50px;
      background-color: rgba(255,255,255,0.7);
      border: 3px solid black;
      font-weight: bold;
      text-align: center;
    }
	  .prim3 {
      width: 400px;
      margin: 30px 50px;
        background-color: #ffffff;
        border: 3px solid black;
        font-weight: bold;
        opacity: 0.5;
        filter: alpha(opacity=70); 
        text-align: center;
      }
      	  .prim4 {
        width: 400px;
        margin: 30px 50px;
        background-color: #ffffff;
        border: 3px solid black;
        font-weight: bold;
        opacity: 0.5;
        filter: alpha(opacity=70); 
        text-align: center;
      }
      
			/* body {
			 <img src="sources/241-3.jpg" class="myClass">; 
			background-color: aqua;  
			} */
		   </style>
		
	</body>



